html {
    font-size: 62.5%;
}

body {
    font-family: "Muli", sans-serif;
    font-size: 1.6rem;
}

h1,
h2 {
    font-family: "Ovo", serif;
}

h1 {
    font-size: 4.8rem;
    text-align: center;
}

h2 {
    font-size: 3.6rem;
}

.page-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #5A6380;
    text-decoration: none !important;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
}

/* a:hover {
    -webkit-box-shadow: inset 0 -2px 0 0 #5A6380;
    box-shadow: inset 0 -2px 0 0 #5A6380;
} */

textarea {
    line-height: 1.25;
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

textarea:focus {
    border: 2px solid #87C7C7;
    outline: none;
}

textarea.is-error {
    border: 2px solid #FF7373;
}

#page_footer {
    padding: 1rem;
    text-align: center;
}

body {
    background-image: url('https://www.learningpeople.co.uk/imgs/mailers/12-december/xmas/snow.png'), url('https://www.learningpeople.co.uk/imgs/mailers/12-december/xmas/snow2.png'), url('https://www.learningpeople.co.uk/imgs/mailers/12-december/xmas/snow3.png');
    animation: snow 20s linear infinite;
    -webkit-animation: snow 20s linear infinite;
    background-color: #98ccff;
    background-repeat: repeat;
    background-attachment: fixed;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

div.content {
    background-color: snow;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.18), 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    width: 80%;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.dashborad>a {
    padding: 0 20px !important;
    font-size: 14px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-centre {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.font-20 {
    font-size: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-10 {
    margin-top: 40px;
}

.margin-bottom-10{
    margin-bottom: 40px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

pre {
    width: 24%;
    padding: 13px;
    border-radius: 10px;
    line-height: 15px;
    color: snow;
    overflow-y: hidden;
    font-size: 12px !important;
    background: #efefef;
    background-color: #777;
}

.col-grid {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:10px;
    border: 1px solid #FF7373;
}

.col-grid-low{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin:5px 10px 5px 10px;
    border: 1px solid #FF7373;
}

.background-female{
    background-color: #ffb9b9;
}

.background-male{
    background-color: #9dadff
}

.link-btn{
    padding: 2px 5px;
    vertical-align: super;
    float:left;
}